# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Jupyter
notebooks/
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Logs
logs/
*.log

# Training outputs
outputs/

# Dataset
data/test/
data/train/
data/valid/

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db