<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Plant Disease Classifier</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body>

    <main class="container">

        <!-- ================= HEADER ================= -->

        <header class="page-header">

            <h1>Plant Disease Classifier</h1>

            <p>
                Upload a plant leaf image and let the AI predict the most likely disease.
            </p>

        </header>


        <!-- ================= UPLOAD ================= -->

        <section class="upload-section">

            <input type="file" id="image-input" accept="image/*" hidden>

            <label for="image-input" , class="upload-button">
                Choose an image
            </label>


            <div class="preview-container">

                <img id="image-preview" src="" alt="Image Preview">

            </div>

            <button id="predict-button" type="button" disabled>
                Predict
            </button>

        </section>


        <!-- ================= LOADING ================= -->

        <section id="loading-section" hidden>

            <p>Predicting...</p>

        </section>


        <!-- ================= RESULTS ================= -->

        <section id="result-section" hidden>

            <h2>Prediction</h2>

            <p>
                <strong>Disease:</strong>
                <span id="predicted-class"></span>
            </p>

            <p>
                <strong>Confidence:</strong>
                <span id="confidence-score"></span>
            </p>

            <h3>Top 3 Predictions</h3>

            <ol id="top-predictions">

            </ol>

        </section>


        <!-- ================= ERRORS ================= -->

        <section id="error-section" hidden>

            <p id="error-message"></p>

        </section>

    </main>

    <script src="{{ url_for('static', path='js/app.js') }}"></script>

</body>

</html>